.navbar {
    font-family: 'New Tegomin', serif;
}

.container{
    font-family: 'Yatra One', cursive;
}

.card-text {
    font-family: 'Dancing Script', cursive;
}

.card-title {
    font-family: 'Yatra One', cursive;
}

.btn {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}